{% extends "layout.html" %}

{% block title %}
    о нас
{% endblock %}

{% block content %}
    <div class="about">
        <div class="container">
            <div class="about-wrapper">
                <p class="about-text">
                    Мы рады приветствовать вас на нашем сайте и надеемся, что с нашей помощью вы осуществите свои мечты. Мы верим в ваш потенциал и готовы поддержать вас на каждом этапе вашего пути.
                    <br>
                    Мы создали эту платформу, чтобы сделать процесс выбора и поступления в ВУЗы проще, удобнее и доступнее для каждого абитуриента.
                    <br>
                    Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами через раздел «Контакты». Вы — наш приоритет!
                    <br>
                    Вместе мы сделаем ваш путь к высшему образованию успешным и увлекательным!
                </p>
            </div>
        </div>
    </div>
{% endblock %}