{% extends "layout.html" %}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <div class="register">
        <div class="container">
            <div class="register-wrapper">
                <form action="/users/login/" method="POST" class="register-form">
                    {% csrf_token %}
                    {{ form }}
                    <button class="button-submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}