{% extends "layout.html" %}
{% load static %}

{% block title %}
    Профиль
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="container">
            <div class="profile-wrapper">
                <img class="profile-img" src="{{ user.profile.avatar.url }}"/>
                <div class="unis-list__item unis-page">
                <div class="profile-form-wrapper">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="profile-form">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="small mb-1">Имя:</label>
                                        {{ user_form.username }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Сменить аватар:</label>
                                    {{ profile_form.avatar }}
                                </div>
                                <label class="small mb-1">Ожидаемый средний балл:</label> {{ profile_form.userScore }}
                            </div>
                        </div>
                        <button type="submit" class="button">Сохранить</button>
                        <button type="reset" class="button">Сбросить</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}