{% extends "layout.html" %}
{% load static %}

{% block title %}
    {{ uni.title }}
{% endblock %}

{% block content %}
    <div class="unis">
        <div class="container">
            <div class="unis-wrapper">
                <div class="unis-list__item unis-page">
                    <img src="{{ uni.img.url }}" alt="{{ uni.title }}" class="unis-list__item-img">
                    <div class="unis-list__item-right">
                        <h2 >
                            {{ uni.title }}
                        </h2>
                        <p>{{ uni.about }}</p>
                        <p class="unis-list__item-info">
                            {{ uni.body }}
                        </p>
                        {% if uni.scoreBudget != 0 %}
                        <span>Средний балл на бюджет: {{ uni.scoreBudget }}</span><br>
                        {% endif %}
                        {% if uni.scorePaid != 0 %}
                        <span>Средний балл на платное: {{ uni.scorePaid }}</span><br>
                        {% endif %}
                        {% if uni.wage != 0 %}
                        <span>Зарплата: {{ uni.wage }}к+</span><br>
                        {% endif %}
                        <span>Дата обновления: {{ uni.date }}</span><br>
                        <a href="{{ uni.source }}">Источник</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}