{% extends "layout.html" %}
{% load static %}

{% block title %}
    ВУЗы
{% endblock %}

{% block content %}
    <div class="unis">
        <div class="container">
            <div class="unis-wrapper">
                <div class="unis-list__item">
                    <img src="{% static './img/uni-img.jpeg' %}" alt="" class="unis-list__item-img">
                    <div class="unis-list__item-right">
                        <h2 class="unis-list__item-title">Реклама и связи с общественностью</h2>
                        <p class="unis-list__item-info">
                            Математика(базовая): 80+<br>
                            Русский: 80+<br>
                            Обществознание: 80+<br>
                            ср балл: 82<br>
                        </p>
                        <span>Зарплата: 60к+</span>
                    </div>
                    <button class="more">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}